#Projects {
  max-width: 900px;
}

.projects-container {
  background-color: var(--transparent-black);
  margin: auto;
  /* overflow: hidden; */
}

.projects-bar {
  background-color: var(--transparent-black);
  padding: 10px;
}

.projects-container,
.projects-bar {
  border-top-left-radius: var(--border-radius-med);
  border-top-right-radius: var(--border-radius-med);
}

.projects-bar h3 {
  margin: 0;
}

.projects-flex {
  display: flex;
}

.projects-scroll,
.project-info-view {
  height: 310px;
  overflow-y: scroll;
}

.projects-scroll {
  flex: 2;
}

@media screen and (max-width: 768px) {
  .projects-flex {
    flex-direction: column-reverse;
    height: 850px;
  }

  .projects-scroll {
    border-top: 1px solid var(--beta-1-transparent);
  }
}