.project-info-view {
  flex: 3;
  padding: 10px;
}

.project-info-view img {
  display: block;
  height: 180px;
  margin: auto;
}

.project-info-view h4 {
  text-align: center;
}

.project-info-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.project-info-links a {
  display: block;
}

@media screen and (max-width: 768px) {
  .project-info-view img {
    height: 120px;
  }
}