.project-list-item {
  padding: 15px;
  background-color: var(--alpha-0);
  display: flex;
  font-size: var(--size-20);
  align-items: center;
  gap: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: 0.2s;
  cursor: pointer;
}

.project-list-item:hover {
  background-color: var(--alpha-2);
}

.project-list-item-decoration {
  width: 18px;
  height: 18px;
  border: 2px solid var(--beta-1);
  rotate: 45deg;
  position: relative;
}

.project-list-item.selected > .project-list-item-decoration::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  translate: 2.3px 2.3px;
  background-color: var(--beta-1);
}

.project-list-item-techs {
  display: flex;
  gap: 10px;
}

.project-list-item-techs img {
  height: 15px;
}